<% provide(:title, "ログインページ") %>

<div class="container">
	<div>
		<h1>Log in</h1>
	</div>
	<div>
  	<%= form_for(:session, url: login_path) do |f| %>

  	  <%= f.label :email %>
  	  <%= f.email_field :email, style: 'width:100%'%>

			<%= f.label :password %>
 	  	<%= f.password_field :password, style: 'width:100%' %>

   		<%= f.submit "Log in", :class => "button", style: 'width:100%; margin: 10px auto' %>
 		<% end %>
		<p>New user? <%= link_to "Sign up now!", signup_path %></p>
	</div>
</div>
